{%extends 'base.html'%}
{%load static%}
{%block head%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%endblock%}

{%block content%}

    <h1>index</h1>
    <div class="container">
       
        <div class="row gap-2 justify-center" id="posts-container" data-api-url="{%url 'post_refresh'%}">
            {%for post in posts%}
                <a href="{%url 'post_details' post.id%}" class="card flex align-end justify-center bg-dark text-white"  style="width: 28rem; height: 28rem; padding: 0;">
                    <img class="card-img" src="{{post.post_thumb.url}}" alt="Card image" style="object-fit: cover; width: 100%; height: 100%;">
                    <div class="card-img-overlay">
                      <h3 class="card-title">{{post.tittle}}</h3>
                    </div>
                </a>
                  
            {%endfor%}
        </div>
        
        
    </div>
    <div id="loading" style="display: none;">Carregando mais posts...</div>

    <script src="{%static 'js/infinite_scroll.js'%}"></script>
{%endblock%}