{%extends 'base.html'%}
{%load static%}
{%block head%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%endblock%}

{%block content%}
<main class="container">


        <div class="sides d-flex flex-row justify-content-center mt-5 mb-5">


            <div  class="col-8 p-2 album-side">
                {%for image in post.postimages_set.all%}
                <div class="d-flex flex-column justify-content-center text-center">
                    <img class="album-img" src="{{image.post_img.url}}" alt="{{image.acessibility_caption}}">
                    <p>{{image.caption}}</p>
                </div>
                    
                {%endfor%}

                {%if post.marmoview%}
                <div id="marmoviewer" data-marmolink="{{post.marmoview.url}}" style="position: relative;">
                    
                </div>

                <script src="{%static 'js/marmoloader.js'%}"></script>
                
                {%endif%}
            </div>
            
            <div class="col-4 post-side">
                    <div class="post-card ">
                            <!--area do perfil-->
                        <div class="d-flex flex-row gap-3 align-items-center mb-5 mt-2 ">
                            {%if post.post_owner.user_picture%}
                            <img class="profile-picture rounded-circle" src="{{post.post_owner.user_picture.url}}" alt="">
                            {%endif%}
                            <div class="d-flex flex-column gap-1">
                                <h3>{{post.post_owner}}</h3>
                                <a href="#">visite o perfil</a>
                            </div>
                        </div>

                        <div class="d-flex gap-5 justify-center">
                            <div class="d-flex justify-center align-items-center gap-3" id="like">

                                <button class="post-button like-button" >
                                    <i style="font-size: 2rem;" class="bi bi-hand-thumbs-up-fill" ></i>
                                    Like
                                </button>

                                <button class="post-button save-button" data-favorited="{{favorited}}" data-post="{{post.id}}" data-save-favorite-url="{% url 'save_favorite' %}" id="save-button">
                                    <i style="font-size: 2rem;" class="bi bi-bookmark-fill" id="bookmark-ico"></i>
                                    <i style="font-size: 2rem;" class="bi bi-bookmark-check-fill d-none" id="bookmark-check-ico"></i>
                                    Save
                                </button>
                                
                            </div>

                                
                        </div>


                    <!--area de informações do post-->


                    <div class="">
                        <h3>{{post.tittle}}</h3>

                        <div class="collapsable">
                            <input type="checkbox" name="" id="read-more">
                            <span>{{post.description|slice:":244"}}</span>
                            <div class="desc-content">
                                <span>{{post.description|slice:"244:"}}</span>
                                <label class="read-more" for="read-more">mostrar menos</label>
                            </div>
                        <label class="read-more" for="read-more">mostrar mais</label>
                        </div>
                        

                    
                    </div>


                    <div class="d-flex flex-row mt-4 justify-content-between">
                        <div class="d-flex flex-row gap-2 align-items-center" >
                            <i style="font-size: 12px;" class="bi bi-hand-thumbs-up-fill" ></i>
                            <span style="font-size: 12px;">{{post.like_set.all|length}}</span>
                        </div>

                        <div class="d-flex flex-row gap-2 align-items-center">
                            <i style="font-size: 12px;" class="bi bi-eye-fill"></i>
                            <span style="font-size: 12px;">{{post.view_number}}</span>
                        </div>

                        <div class="d-flex flex-row gap-2 align-items-center">
                            <i style="font-size: 12px;" class="bi bi-chat-left-text-fill"></i>
                            <span style="font-size: 12px;">{{post.comments_set.all|length}}</span>
                        </div>
                    </div>
                    
                
                    <h4 class="mt-5">programas usados</h4>
                    <div class="mt-5 d-flex flex-row gap-2 justify-content-around">
                        {%for c in post.used_programs.all%}
                            <div class="d-flex flex-row gap-2 p-auto col align-items-center">
                                <img class="software-logo" src="{{c.program_logo.url}}" alt="">
                                <p class="software-text m-0">{{c}}</p>
                            </div>
                        
                    {%endfor%}
                    </div>



                    <h4>palavras chave</h4>
                    <!--palavras chave-->
                    <div class="post-card mt-5">
                        <div class="container">
                            <div class="row gap-3 justify-content-around">
                                {%for k in keywords%}
                                    <span class="col keywords">#{{k}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        
                    </div>


                
            </div>

            <div class="post-card gap-2">
                <h4>Comentarios</h4>
                <!--comentários-->
                {%if request.user.profile%}
                <form action="" data-post-id="{{post.id}}" data-profile-id="{{request.user.profile.id}}" data-comment-api-url="{%url 'add_comment'%}" data-token="{{csrf_token}}" id="comment_form">
                    {{form}}
                    <button type="submit">comentar</button>
                </form>
                {%endif%}
                <br>
                <div id="comment_div">
                    {%for comment in post.comments_set.all%}
                    <div class="comment">
                        <img src="{{comment.comment_owner.user_picture.url}}" alt="">
                        <div>
                            <a href="{%url 'profile_index' comment.comment_owner.id%}">{{comment.comment_owner}}</a>
                            <p>{{comment}}</p>
                        </div>
                    </div>
                        
                    {%endfor%}
                </div>
            </div>


        </div>

        
        
    
</main>

<script src="{%static 'js/comment.js' %}"></script>
<script src="{%static 'js/save_post.js' %}"></script>
    
    

{%endblock%}