{%extends 'base.html'%}
{%load static%}
{%block head%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token }}">
{%endblock%}



{%block content%}
<main class="container">


        <div class="sides d-flex flex-row justify-content-center mt-5 mb-5">


            <div  class="col-8 p-2 album-side">
                {%for image in post.postimages_set.all%}
                <div class="d-flex flex-column justify-content-center text-center">
                    <img class="album-img" src="{{image.post_img.url}}" alt="{{image.acessibility_caption}}">
                    <p class="album-img">{{image.caption}}</p>
                </div>
                 
                {%endfor%}

                {%if post.marmoview%}
                <div id="marmoviewer" data-marmolink="{{post.marmoview.url}}" style="position: relative;">
                    
                </div>

                <script src="{%static 'js/marmoloader.js'%}"></script>
                
                {%endif%}
            </div>
            
            <div class="col-4 post-side">
                    <div class="post-card ">
                            <!--area do perfil-->
                        <div class="d-flex flex-row gap-3 align-items-center mb-5 mt-2 p-1">
                            {%if post.post_owner.user_picture%}
                            <img class="profile-picture rounded-circle" src="{{post.post_owner.user_picture.url}}" alt="">
                            {%endif%}
                            <div class="d-flex flex-column gap-1">
                                <h3>{{post.post_owner}}</h3>
                                <a href="{%url 'profile_index' post.post_owner.id%}">visite o perfil</a>
                            </div>
                        </div>

                        <div class="d-flex gap-5 justify-center">
                            <div class="d-flex justify-center align-items-center gap-3" >

                                <button class="post-button like-button {%if liked %}wh-btn{%endif%}" id="like-button" data-profile-id="{{request.user.profile.id}}" data-csrf="{{csrf_token}}" data-post="{{post.id}}" data-like-url="{% url 'add_like' %}">
                                    <i style="font-size: 2rem;" class="bi bi-hand-thumbs-up-fill" ></i>
                                    Like
                                </button>

                                <button class="post-button save-button" data-favorited="{{favorited}}" data-post="{{post.id}}" data-save-favorite-url="{% url 'save_favorite' %}" id="save-button">
                                    <i style="font-size: 2rem;" class="bi bi-bookmark-fill" id="bookmark-ico"></i>
                                    <i style="font-size: 2rem;" class="bi bi-bookmark-check-fill d-none" id="bookmark-check-ico"></i>
                                    Save
                                </button>
                                
                            </div>

                                
                        </div>


                    <!--area de informações do post-->


                    <div class="">
                        <h3 class="mt-5">{{post.tittle}}</h3>
                        <div class="description" id="description-container">
                            <span id="readmore-text">{{post.description}}</span>
                        </div>
                        

                    
                    </div>


                    <div class="d-flex flex-row mt-4 justify-content-between">
                        <div class="d-flex flex-row gap-2 align-items-center" >
                            <i style="font-size: 12px;" class="bi bi-hand-thumbs-up-fill" ></i>
                            <span style="font-size: 12px;" id="like_num">{{post.like_num}}</span>
                        </div>

                        <div class="d-flex flex-row gap-2 align-items-center">
                            <i style="font-size: 12px;" class="bi bi-eye-fill"></i>
                            <span style="font-size: 12px;" id="view_num">{{post.view_number}}</span>
                        </div>

                        <div class="d-flex flex-row gap-2 align-items-center">
                            <i style="font-size: 12px;" class="bi bi-chat-left-text-fill"></i>
                            <span style="font-size: 12px;" id="comments_num">{{post.comments_set.all|length}}</span>
                        </div>
                    </div>
                    
                
                    <h4 class="mt-5">programas usados</h4>
                    <div class="graybox round-5 px-4 py-5 mt-3 inner-grid">
                        {%for c in post.used_programs.all%}
                            <div class="lt-graybox p-2 pe-3 rounded fs-4 d-flex gap-3 align-items-start">
                                <img class="software-logo" src="{{c.program_logo.url}}" alt="">
                                <p >{{c}}</p>
                            </div>
                        
                    {%endfor%}
                    </div>



                    <h4>palavras chave</h4>
                    <!--palavras chave-->
                    <div class="graybox round-5 px-4 py-5 mt-3 inner-grid">
                                {%for k in keywords%}
                                    <span class="lt-graybox p-2 pe-3 rounded fs-4 d-flex gap-3 align-items-start">#{{k}}</span>
                                {%endfor%}
                        
                    </div>


                
            </div>

            <div class="post-card gap-2">
                <h4>Comentarios</h4>
                <!--comentários-->
                {%if request.user.profile%}
                <form action="" class="d-flex gap-3 justify-content-center align-items-center" data-post-id="{{post.id}}" data-profile-id="{{request.user.profile.id}}" data-comment-api-url="{%url 'add_comment'%}" data-token="{{csrf_token}}" id="comment_form">
                    <div class="col-10">
                        {{form.comment_text}}
                    </div>
                    
                    <div class="col-2"><button class="coment-button p-2 d-flex align-items-center justify-content-center" type="submit"><i class="bi bi-send-fill"></i></button></div>
                    
                    
                </form>
                {%endif%}
                <br>
                <div id="comment_div">
                    {%for comment in post.comments_set.all%}
                    <div class="comment">
                        <img src="{{comment.comment_owner.user_picture.url}}" alt="">
                        <div>
                            <a href="{%url 'profile_index' comment.comment_owner.id%}">{{comment.comment_owner}}</a>
                            <p>{{comment}}</p>

                            <div class="d-flex gap-3 justify-content-between">
                                <span class="fs-5 ">{{comment.created|date:"d/M/Y"}} &nbsp;-</span>
                                {%if request.user.profile == comment.comment_owner %}
                                    <button class="delete-btn fs-5" data-id="{{ comment.id }}" >excluir</button>
                                {%endif%}
                            </div>
                            
                        </div>

                        
                    </div>
                        
                    {%endfor%}


                    <div id="deleteModal" class="modal d-none">
                        <div class="modal-content">
                          <h3>Confirmar Exclusão</h3>
                          <p>Tem certeza que deseja excluir este comentário?</p>
                          <div>
                            <button id="cancelDelete">Cancelar</button>
                            <button id="confirmDelete">Excluir</button>
                          </div>
                        </div>
                    </div>
                </div>


        </div>

        
        
    
</main>

<script src="{%static 'js/comment.js' %}"></script>
<script src="{%static 'js/add_like.js' %}"></script>
<script src="{%static 'js/save_fav_post.js' %}"></script>
<script src="{%static 'js/read_more.js' %}"></script>
<script src="{%static 'js/delete_comment_modal.js' %}"></script>
    
    

{%endblock%}