<nav class="navbar">
  <a routerLink="/feed" class="navbar-brand" aria-label="Portflow">
    @if (!logoExist()) {
      <img src="/site/logo.png" alt="Portflow" class="navbar-brand-logo" (error)="logoExist.set(true)" />
    } @else {
      <span class="navbar-brand-text">Portflow</span>
    }
  </a>

  <div class="navbar-search">
    <app-search-input />
  </div>

  @if (user()) {
    <app-create-menu />
    <app-notification-panel />
    <app-user-menu />
  } @else {
    <a routerLink="/login" class="navbar-login">Login</a>
  }
</nav>
